@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto.woff) format('woff');
}
@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    src: local('VT323'), local('VT323-Regular'), url(fonts/VT323.woff) format('woff');
}


* {
    box-sizing: border-box;
}

html {
	min-height : 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #ccc;
    font-family:'Roboto', sans-serif;
    background: url(images/dots.png);
    background-color : #3d3d3d;

    overflow: hidden;
}

a {
    text-decoration : none;
    color : darkcyan;
}

header {
    text-align: center;
    padding-top: 2.5rem;
}
header .awesome {
    font-size: 2rem;
    display : inline;

    animation : awesome-color 10s linear infinite alternate;
}
header p {
    padding : 0;
    margin : 0;
}
header .more {
    font-size: 2.6rem;
    padding-top : 1rem;
}

@keyframes awesome-color {
    0%, 100% {
        color : #ff2f00;
    }
    50% {
        color : yellow;
    }
}

.content {
    text-align: center;
}
.content article {
    max-width: 420px;
    margin: 2rem auto;
    background-color: rgba(0,0,0,0.1);
    box-shadow: inset 0 0 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    padding: 2rem 2rem 1rem;
}

.logo {
    display: inline-block;
    height: 92px;
    width: 124px;
    text-align: center;
    line-height: 82px;
    font-size: 3rem;
    color : inherit;
}
.logo#jsh {
    font-family: 'VT323', monospace;
    border-radius: 2px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.33);
    color: whiteSmoke;
    background-color: black;
}

#dots {
    position : absolute;
    top : 0;
    left : 0;

    padding : 0;
    margin : 0;

    z-index : -1;
}
