@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto.woff) format('woff');
}
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323'), local('VT323-Regular'), url(fonts/VT323.woff) format('woff');
}


* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #222;
    font-family:'Roboto', sans-serif;
}
body {
    abackground: url(images/background.png);
    background-size: cover;
    background-position: fixed;
    display: table;
}
body::before {
    content:"";
    background: url(images/dots.png);
    opacity: 0.99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
header {
    text-align: center;
    padding-top: 2.5rem;
}
header h1 {
    font-size: 3rem;
}
header p {
    display: inline;
    padding: 0 16px;
    border-bottom: 1px solid #444;
}
header .more {
    font-size: 2.6rem;
    padding: 18px;
}
.content {
    text-align: center;
}
.content article {
    max-width: 420px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.1);
    box-shadow: inset 0 0 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    padding: 2rem 2rem 1rem;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #444;
}
.copyright {
    position: absolute;
    left: 16px;
    top: 50%;
    color: #333;
}
.social {
    list-style: none;
    float: right;
    margin-right: 16px;
}
.social li {
    display: inline-block;
    font-size: 2.2rem;
    margin: 0 16px;
}
.social li a {
    color: currentColor;
}

#logo {
    display: inline-block;
    height: 92px;
    width: 124px;
    background-color: black;
    text-align: center;
    color: whiteSmoke;
    line-height: 82px;
    font-size: 4rem;
    font-family: 'VT323', monospace;
    border-radius: 2px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.33);
}
